.form-control[readonly] {
  background-color: #fff !important;
}

.card {
  min-width: 100px !important;
  margin-bottom: 15px !important;
  align-self: self-start;
}

@import "~bootstrap/scss/bootstrap";

.loader-wrapper {
  position: fixed;
  top: 56px;
  width: 100%;
}

.loader-wrapper-overlay {
  position: fixed;
  top: 56px;
  left: 0;
  width: 100%;
  height: calc(100vh - 112px);
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1040;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-to-top-wrapper {
  position: fixed;
  bottom: 10%;
  right: 10%;
  cursor: pointer;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 112px);
}

.fixed-header {
  position: sticky;
  top: 0;
  z-index: 1040;
}

.bg-primary-light {
  background-color: #cce5ff;
}

.bg-success-light {
  background-color: #d4edda;
}

.bg-warning-light {
  background-color: #fff3cd;
}

.bg-secondary-light {
  background-color: #e2e3e5;
}